

.group-1{
    background-color: lightblue;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, cursive;
    color: black;
    width: 200px;
    height: 200px;  
    margin: 20px 20px;
    padding: 30px 30px;
    border-radius: 20px 20px;
    display: inline-block;
}

.group-1 h1{
            font-size: 30px;
}

.group-1 span{
            font-size: 25px;    
}

